.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.button:hover {
    background-color: blue;
}
.labelCadastra {
    color: #4CAF50;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.labelCadastra:hover {
    background-color: transparent;
    color: blue;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Garante que os itens fiquem alinhados à esquerda */
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 10px; /* Adiciona espaçamento entre o texto e o botão */
}